:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --black-background-color: #2F303A;

}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.12;

    text-decoration: none;
}

.studio {
    color: #000000;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.12;

    text-decoration: none;
}

.list {
    list-style: none;
}

/* Site nav */

.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .studio,
.site-nav .portfolio {
    color: var(--accent-color);
}

/* Contacts */

.contacts .link {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.contacts .link:hover 
.contacts .link:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background-color: var(--black-background-color);
}

.hero-title {
    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn {
    background-color: var(--accent-color);
    color: var(--primary-background-color);

    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}

.btn:active {
    color: #2F303A;
}


.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

/* Sections */

.section .section-title,
.section-team .section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.photos .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.photos .photos-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}

.section {
    background-color: #F5F5F5;
}

.advantage .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.photos .title {
    color: var(--title-text-color);

}

.section-team {
    background-color: var(--secondary-background-color);
}

.filter {
    background-color: var(--secondary-background-color);
    color: var(--title-text-color);

    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.filter:hover,
.filter:focus {
    background-color: var(--accent-color);
}

.projects .projects-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* Footer */

.footer {
    background-color: var(--black-background-color);
}

.footer-studio {
    color: var(--primary-background-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.12;

    text-decoration: none;
}

.footer .link {
    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
    color: var(--primary-background-color);
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
